body{
    color: rgb(110, 110, 110);
}
.container{
    height: auto;
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    /* grid-gap: 4px; */
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "s s s s s s s s s s s s"
    "b b b b b b b b b b b b"
    "a1 a1 a1 a1 c c c c c a2 a2 a2"
    "f f f f f f f f f f f f";

}
.header > .navbar{
    background-color: rgb(167, 167, 167);
    color: white;
    font-size: 18px;
}
/* slide section */
#carouselIndicators img,#first{
    height: 500px; 
}
.container >.slide > section{
   
    color: white;
    
}
.header{
    background-color: aquamarine;
    grid-area: h;
}
.slide{
    background-color: cadetblue;
    grid-area: s;
}
.brand-connection{
    background-color: rgb(245, 245, 245);
    grid-area: b;
    
}

.aside1{
    background-color: rgb(217, 219, 214);
    grid-area: a1;

}
.content{
    background-color: rgb(250, 230, 234);
    grid-area: c;
    color: rgb(136, 37, 37);
}
.aside2{
    background-color: rgb(99, 5, 5);
    grid-area: a2;
}
.footer{
    background-color: darkslateblue;
    grid-area: f;
}
/* brand connection */
.brand-connection h2{
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.brand-connection{
    padding: 20px;
    padding-bottom:  30px;
}
.brand-connection-image{

    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.brand-connection-image>img{
    box-shadow: 2px 2px 5px 2px rgb(179, 167, 167);
    border-radius: 5px; 
}

.features-item-content h3, .more-features-content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.features-item-content{
    margin-left: 15px;
    /* text-align: justify; */
}
.features-item-content p, .more-features-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.more-features-content{
    border: 1px solid rgb(202, 201, 201);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
}
#brand-row{
    padding: 30px;
}
/* worldwide-destinations */
.destinations{
    background-color: white;
    margin: 10px;
    border: 1px solid rgb(219, 219, 219);
  
}
.destinations h5{
    padding: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    
}
.worldwide-destination, .worldwide-flight-destination{
    margin-top: -9px;
    padding: 10px;
}
.worldwide-destination li{
    list-style: none;
    margin: 7px;
}
.worldwide-destination a{
    background-color: gray;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    
}
.worldwide-flight-destination span{
    display: inline-flex;
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 12px;
}
.worldwide-flight-destination span:first-child > a{
    background-color: cadetblue;
    color: white;
}
.worldwide-flight-destination a{
    background-color: rgb(211, 208, 208);
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
}
.destinations-image > img{
    padding: 5px;
}