.container{
    height: auto;
    display: grid;
    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    /* grid-gap: 4px; */
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "s s s s s s s s s s s s"
    "b b b b b b b b b b b b"
    "a1 a1 a1 a1 c c c c c c c c"
    "a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2"
    "f f f f f f f f f f f f";

}
.header > .navbar{
    background-color: rgb(167, 167, 167);
    color: rgb(8, 6, 6);
    font-size: 18px;
}
/* slide section */
#carouselIndicators img,#first{
    height: 500px; 
}
.container >.slide > section{
   
    color: white;
    
}
.header{
    background-color: aquamarine;
    grid-area: h;
}
.slide{
    background-color: cadetblue;
    grid-area: s;
}
.brand-connection{
    background-color: rgb(245, 245, 245);
    grid-area: b;
    
}

.aside1{
    background-color: rgb(217, 219, 214);
    grid-area: a1;

}
.content{
    background-color: rgb(217, 219, 214);
    grid-area: c;
    color: rgb(136, 37, 37);
}
.aside2{
    background-color: rgb(217, 219, 214);
    grid-area: a2;
}
.footer{
    background-color: #081621;
    grid-area: f;
    color: white;
}
/* brand connection */
.brand-connection h2{
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.brand-connection{
    padding: 20px;
    padding-bottom:  30px;
}
.brand-connection-image{

    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.brand-connection-image>img{
    box-shadow: 2px 2px 5px 2px rgb(179, 167, 167);
    border-radius: 5px; 
}

.features-item-content h3, .more-features-content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}
.features-item-content{
    margin-left: 15px;
    /* text-align: justify; */
}
.features-item-content p, .more-features-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.more-features-content{
    border: 1px solid rgb(202, 201, 201);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
}
#brand-row{
    padding: 30px;
}
/* worldwide-destinations */
.destinations{
    background-color: white;
    margin: 10px;
    border: 1px solid rgb(219, 219, 219);
  
}
.destinations h5{
    padding: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 700;
    
}
.worldwide-destination, .worldwide-flight-destination{
    margin-top: -9px;
    padding: 10px;
}
.worldwide-destination li{
    list-style: none;
    margin: 7px;
}
.worldwide-destination a{
    background-color: gray;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    
}
.worldwide-flight-destination span{
    display: inline-flex;
    margin-bottom: 2px;
    margin-left: 10px;
    font-size: 12px;
}
.worldwide-flight-destination span:first-child > a{
    background-color: cadetblue;
    color: white;
}
.worldwide-flight-destination a, .airports-destinations span{
    background-color: rgb(211, 208, 208);
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
}
.destinations-image > img{
    padding: 5px;
}
/* content section */
.content-nav > .nav li{
    list-style: none;
    
}
.content-nav > .nav li>a{
    color: black;
}
.content-nav > ul{
    border-bottom: 1px solid gray;
}
.content-nav > .nav li a:hover{
    background-color: black;
    color: white;
    font-size: 18px;
}

#orderButton{
    padding: 2px 20px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-nav .collapse .card{
    /* border: 1px solid black; */
    padding: 5px;
}

/* asked the questions */
.questionsArea{
    margin-top: 20px;
    margin-bottom: 20px;
}
.questions-content{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
.questions-content h4{
    font-weight: 600;
    font-size: 22px;
}

.airports-destinations span{
    display: inline-flex;
    margin: 2px 6px;
    padding: 5px;
}
/* footer from index.html */

.support,.aboutUs, .connectedOffice{
    padding: 30px;
    color: white;
}
.support h4, .aboutUs h4, .connectedOffice h4{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
}

.supportContactPhone, .supportContactLocation{
    display: flex;
    padding: 10px;
    padding-left: 25px;
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    color: white;
    font-family: "Trebuchet MS", sans-serif;
    border-radius: 50px;
    align-items: center;
    margin: 20px;
}
.supportContactPhone i, .supportContactLocation i{
    font-size: 24px;
}
.supportContact h6{
    font-size: 20px;
    font-weight: 700;
    color: #ff844a;
}
.supportContact p{
    font-size: 12px;
    font-weight: 400;
    color: gainsboro;
}
.supportContact a:hover{
    border: 1px solid #ff844a;
    text-decoration: none;  
}
.supportContact a:hover i{
    color: rgb(255, 255, 255);
}
.connected-icons a{
    width: 40px;
    margin: 2px;
    background-color: rgba(136, 132, 132, 0.918);
    border-radius: 30px;

}
.connected-icons a:hover{
    background-color: rgb(113, 113, 253); 
}

.connected-icons a i{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 12px;
}
.aboutUs .row{
    padding: 12px 8px;   
}
.aboutUs .row a{
    color: #b1b1b1;
    font-size: 15px;
}
.aboutUs .row a:hover{
    color: #ff844a;
}
.connectedOfficeContent{
    padding: 10px;
}
.connectedOfficeContent h5{
    font-family: "Trebuchet MS", sans-serif;
    color: #ff844a;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 5px;
}
hr.hrr{
    
        border: 1px dotted rgb(255, 251, 251);
        border-radius: 2px;
    
}

/* login form */


.login-form form{
    padding: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}
#submitButton, #contactSubmit{
    padding: 8px 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 25px;
    font-family: "Trebuchet MS", sans-serif;
    letter-spacing: 2px;
    
}
.login-form h5, .signup-form h5, .contact-form h5{
    font-family: "Trebuchet MS", sans-serif;
    color: black;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
}
/* signup form */
.signup-form h5{
    color: #ff844a;
    font-size: 30px;
}
.signup-form{
    color: black;
    border: 1px solid black;
    border-start-end-radius: 15px;
    border-end-start-radius: 15px;
    padding: 50px;
    margin: 50px;
}
.contact-form{
    border: 3px dotted salmon;
    padding: 50px;
    margin: 50px;
    color: black;
    border-radius: 10px;
}
#contactSubmit{
    border-radius: 5px;
}
.contact-form .connected-icons{
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .container{
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(7, auto);
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "s s s s s s s s s s s s"
        "b b b b b b b b b b b b"
        "a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1"
        "c c c c c c c c c c c c"
        "a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2"
        "f f f f f f f f f f f f";
        justify-content: center;
    }
    .more-features-items form{
        
        flex: none;
    }
    .more-features-items form input[type=tex]{
        width: 100% !important;
        
    }
    .connected-icons {
        justify-content: center;
    }
    .connectedOfficeContent{
        text-align: center;
    }
    .connected-icons a{
        text-align: center;
    }
    .footer{
        margin: 10px;
    }
    
  }